<%- include('./partials/header') %>

<h4>Today's date is <%= time %>, yell something!</h4>
<form action="../posts" method="POST" id="yell">
  <label>Post:
    <input type="text" name="post" id="textbox">
  </label>
  <button type="submit" id="mkpost" class="mkyell">Yell!</button>
</form>
<ul>
  <% posts.forEach(function(t) { %>
    <form action="/posts/<%= t.id %>?_method=DELETE"
      class="delete-form" method="POST">
      <button type="submit">DELETE</button>
    </form>
    
      <a href="/posts/<%= t.id %>">
        <%= t.post %>
      </a>
  <% }); %>
</ul>

<%- include('./partials/footer') %>

