<%- include('../partials/header') %>
<h3>Posts as of <%= time %></h3>
<ul>
  <% posts.forEach(function(t) { %>
      <form action="/posts/<%= t.id %>?_method=DELETE" class="delete-form" method="POST">
        <a href="/posts/<%= t.id %>">
        <button type="submit">DELETE</button>
      </form>
        <%= t.post %>
      </a>
  <% }); %>
</ul>
<a href="/posts/new">Make Post</a>

<%- include('../partials/footer') %>